body{
    width: 1440px;
    background-color: coral;
    text-align: center;

}

table{
    width: 750;
    height: 250px;
    background-color: aqua;
    border-radius: 25px;
    border-style: groove;
    border-color: blue;
}

td{
    width: 750px;
    border-style: solid;
    border-color: chartreuse;
    color:chartreuse;
    
}
td:hover{
    border-color: blue;
    background-color:white;
    
}

th{
    padding:10px;
}

form{
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    border-radius: 25px;
    border-style: solid;
    margin:15px;

}

.titable{
    background: black;
    color: aqua;
    

}
.titable1{
    border-top-right-radius: 25px;
}


.titable2{
    border-top-left-radius: 25px;
}
.boton{
    background-color: aqua;
    border-radius: 25px;
    border-style: solid;
    border-color: blue;
    color: blue;
    width: 100px;
    height: 50px;
    margin: 10px;
}